/* @override http://oauthtest.digg.internal/styles.css */

html {
background: #ededed;
font: 82.5% Helvetica Neue, HelveticaNeue, Helvetica, sans-serif;
}

.defaults {
width: 160px;
float: right;
}
.defaults img {
border: 0;
}

.selector {
float: right;
margin: 3px;
}
.selector span {
cursor: pointer;
float: left;
margin: 0px;
padding: 7px;
display: block;
background: #333;
margin-right: 10px;
text-decoration: none;
font-weight: bold;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
color: #999;
background: #aaa;
}

.selector span.selected {
color: #fff !important;
background: #333 !important;
}

.argument {
width: 400px;
margin-left: 135px;
float: left;
}

#request_token_arguments input {
float: left;
width: 180px !important;
padding: 2px;
margin-left: 0px !important;
}

#access_token_arguments input {
float: left;
width: 180px !important;
padding: 2px;
margin-left: 0px !important;
}

#protected_resource_arguments input {
float: left;
width: 180px !important;
padding: 2px;
margin-left: 0px !important;
}
.arguments a {
float: right;
clear: both;
}

h3 {
float: left;
margin-top: 13px;
color: #444;
float: left;
font-size: 1em;
line-height: 1;
font-weight: 500;
letter-spacing: -1px;

}
.defaults select {
float: right;
margin-top: 8px;
padding: 2px;
}
#error {
display: none;
margin-top: 0px !important;
font-weight: bold;
font-size: 1.8em;
letter-spacing: -1px;
}

#success{
display: none;
margin-top: 0px;
}

.settings, .example, #error, #success {
width: 686px;
margin: 60px auto 20px;
padding: 30px;
background: #fff;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}

.settings h2, .example h2 {
color: #444;
width: 250px;
float: left;
font-size: 2.4em;
line-height: 1;
font-weight: ;
letter-spacing: -1px;
margin-top: 5px;
}

.setting {
clear: both;
padding: 1px;
}
.setting label {
font-size: .85em;
font-weight: bold;
color: #444;
float: left;
margin-top: 12px;
}

.setting input {
width: 55%;
display: block;
margin-left:135px !important;
margin: 8px;
font-size: 15px;
}

.example {
margin-top: 10px !important;
background: #f6f6f6;
}

.step span a {
cursor: pointer;
float: left;
width: 150px;
padding: 7px;
display: block;
background: #333;
margin-right: 10px;
text-decoration: none;
font-weight: bold;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
color: #fff;
}
a#oauth_request {
margin-right: 0;
}

a.disabled {
color: #999 !important;
background: #aaa !important;
}

.example a:hover {
background: #111;
color: #fff;
}

.clear {
clear: both;
}

.code {
margin-top: 50px;
display: none;
clear: both;
}


